<ion-view view-title="About Us">
<ion-nav-bar class="bar-dark">
  <ion-nav-buttons side="left">
    <a href="#/event/body" class="button button-icon button-clear ion-ios-arrow-back">Back</a>
  </ion-nav-buttons>
</ion-nav-bar>
   <ion-content>
    <center>
      <div class="pad_img center">
        <img src="img/logo.png" class="logo">
      </div>
      <div style="color:white" class="about_pad">
          <h2 style="color:white"><strong>Welcome to<br> SvenROMmeter!</strong></h2>
          <p>&nbsp;</p>
          <h4 style="color:white">Thank you for using our application.</h4>
          <p>&nbsp;</p>
          <p style="text-align: justify;">SvenROMmeter is a privately owned measurement application by Mr. Sven Roehrs and is designed to run on both apple and android platforms. The aim of this application is to be used privately and commercially for the purpose of measuring the range of motion (ROM). This application has been developed according to the traditional goniometer which is used by most therapist to measure joint angles and range of motion (ROM). The application provide accurate measures of movements in degrees and it&rsquo;s intended to replace the traditional goniometer in most of its functional areas.</p>
          <p style="text-align: justify;">&nbsp;</p>
          <p style="text-align: justify;">Sven Roehrs has been working for the last 25 years as occupational therapist with focus in workplace rehabilitation and soft tissue treatment. He has provided treatment to national and international level athletes and elite dancers and musicians. His experiences and skills are utilized by large organizations to undertake Mechanism of Injury Assessments, to diagnose musculoskeletal conditions and assess relatedness with work demands or incidents.</p>
          <p style="text-align: justify;">&nbsp;</p>
          <p style="text-align: justify;">This application has been developed by a group of four ICT students from Griffith University, Gold Coast Campus, Queensland, Australia, as part of the Industry Project (IP) course.</p>
      </div>
    </center>
   </ion-content>
</ion-view>