<ion-view view-title="Left Knee">
<ion-nav-bar class="bar-dark">
  <ion-nav-buttons side="primary">
    <a href="#/event/body" class="button button-icon button-clear">Cancel</a>
  </ion-nav-buttons>
</ion-nav-bar>
 <ion-content class="padding">
   <div class="list">
    <a class="button button-full button-dark" ui-sref="measurement_mode_1({jname: 'Flexion/Extension', movement: 'left_knee_flexion', joint: 'left_knee', gen_mov: 'knee_flexion'})">Flexion/Extension</a>
    </div>
 </ion-content>
</ion-view>